<form action="" class="col-md-4 offset-3 card card-body mt-5 mb-5" #form="ngForm" (ngSubmit)="loginData(form)">
    <h1 class="bg-dark  text-white text-center form-group">Login</h1>
    <div class="form-group">
        <input type="text" name="pleaselogin" id="pleaselogin" class="form-control" placeholder="Please Login" #pleaselogin="ngModel" ngModel required>
            <div *ngIf= "pleaselogin.touched && pleaselogin.invalid">
                <p *ngIf="pleaselogin.errors.required" class="text-danger">*this field is required</p>
            </div>
    </div>
    <div class="form-group">
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email..." #email="ngModel" ngModel required>
            <div *ngIf= "email.touched && email.invalid">
                <p  *ngIf="email.errors.required" class="text-danger">*this field is required</p>
            </div>
    </div>
    
    <div class="form-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="enter password" #password="ngModel" ngModel required>
        <div *ngIf= "password.touched && password.invalid">
            <p  *ngIf="password.errors.required" class="text-danger">*this field is required</p>
        </div>
    </div>
   
            <div class="form-group" >
            <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid" >Login</button>
            </div>
</form>
